@charset "utf-8";

@media (max-width: 576px) {
    #wrap {
        width: 100%;
    }
    header {
        width: 100%;
    }
    .loading{
        width: 100%
    }
    .loading-text {
        width: 80%;
    }
    #fixed {
        transform: translateY(17%);
    }
    .headline {
        width: 85%;
        padding: 10px 0px 20px 40px;
    }
    .headline > h2 {
        font-size: 28px;
    }
    #backG1 {
        width:100%;
    }
    #backG2 p{
        font-size: 14px;
        line-height: 24px;
    }
    #e_in > p {
        font-size: 14px;
        line-height: 24px;
    }
    #contents_1 >  p {
        font-size: 14px;
        line-height: 24px;
    }
    #contents_2 > p {
        font-size: 14px;
        line-height: 24px;
    }
    .content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .content_right {
        width: 100%;
    }
    .c_imgs1{
        width: 70%;
        background-color: black;
        color: white;
        margin: 3%;
        box-shadow: -15px -15px 0px 0px #7E49F2;
    }
    .content_left{
        display:none;
    }
    #table_1{
        font-size: 15px;
    }
    .c_imgs2{
        width: 80%;
        background-color: black;
        color: white;
        margin: 40px 0;
        box-shadow: -15px -15px 0px 0px #7E49F2;
    }
    #buttonBox{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .btn_all {
        margin: 0 5px;
    }
    .btn {
        line-height: normal;
        font-size: 17px;
    }
    .c_imgs2 > img{
        width: 100%;
    }

    .c_imgs2 > h5{
        font-size: 15px;
        font-family: 'Noto Sans KR', sans-serif;
        padding: 5px 15px;
    }

    .c_text > p {
        text-align: center;
        margin-bottom: 50px;
    }

    #table_2 {
        width: 90%;
        font-size: 15px;
    }
    #table_2 th, #table_2 td, #table tr{
        padding: 8px;
    }

    #table_3{
        width: 80%;
        font-size: 15px;
    }
    #car {
        width: 100%;
    }
    #footer {
        height: 360px;
        font-weight: 300;
        font-size: 16px;
        margin-top: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer-inside {
        width: 270px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    #m_menu {
        width: 135px;
        height: 25px;
        display: flex;
        justify-content: space-between;
    }

    #m_menu .login {
        width: 60px;
        height: 25px;
        font-size: 17px;
        text-align: center;
        line-height: 25px;
        cursor: pointer;
        font-weight: 500;
        color: #fff;
    }

    #m_menu .surch {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    #m_menu .surch img {
        width: 100%;
    }

    /* menu */
    /* menu icon */
    #m_menu .m_list {
        width: 25px;
        height: 25px;
        position: relative;
        z-index: 25;
    }

    #m_menu .m_list>.ic {
        width: 25px;
        height: 25px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    #m_menu .m_list>.ic>.line {
        width: 25px;
        height: 3px;
        background-color: #fff;
        display: block;
        margin: 2.5px 0;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #m_icon.is-active>.line:nth-child(2) {
        opacity: 0;
    }

    #m_icon.is-active>.line:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
        -o-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    #m_icon.is-active>.line:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
        -o-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    /* menu list */

    nav {
        width: 0;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        background-color: #000;
        transition: 0.5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat', 'NotoSansKR';
    }

    .full_n {
        width: 100vw;
    }

    nav ul {
        width: 60%;
        height: auto;
        display: none;

    }

    nav ul li {
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;

    }

    nav ul li:not(:last-child) {
        margin-bottom: 15px;
    }

    nav ul li .t {
        width: 100%;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        line-height: 30px;
        margin-bottom: 30px;
    }

    nav ul li .sub {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
    }

    nav ul li .sub li {
        height: auto;
        cursor: pointer;
        margin-bottom: 15px;

    }

    nav ul li .sub li a {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
    }

    nav ul li .sub li span {
        font-size: 16px;
        color: #999;
        margin-left: 15px;
    }

    nav ul li .sub li:not(:last-child) {
        margin-right: 45px;
    }
}

@media (min-width: 577px) and (max-width: 768px){

    #wrap {
        width: 100%;
    }
    .loading{
        width: 100%
    }
    .loading-text {
        width: 80%;
    }
    #fixed {
        transform: translateY(20%);
    }
    .headline {
        width: 85%;
        padding: 10px 20px 20px 40px;
    }
    .headline > h2 {
        font-size: 28px;
    }
    #backG1 {
        width:100%;
    }
    .content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .content_right {
        width: 100%;
    }
    .c_imgs1{
        width: 70%;
        background-color: black;
        color: white;
        margin: 3%;
        box-shadow: -15px -15px 0px 0px #7E49F2;
    }
    .content_left{
        display:none;
    }
    #table_1{
        font-size: 17px;
    }
    .c_imgs2{
        width: 80%;
        background-color: black;
        color: white;
        margin: 40px 0;
        box-shadow: -15px -15px 0px 0px #7E49F2;
    }
    #buttonBox{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .btn_all {
        margin: 0 5px;
    }
    .btn {
        line-height: normal;
    }
    .c_imgs2 > img{
        width: 100%;
    }

    .c_imgs2 > h5{
        font-size: 15px;
        font-family: 'Noto Sans KR', sans-serif;
        padding: 5px 15px;
    }

    .c_text > p {
        text-align: center;
        margin-bottom: 50px;
    }

    #table_2 {
        width: 85%;
        color: black;
        border-collapse:collapse;
        border-spacing:0;
        margin: 40px 0 120px 0;
    }

    #table_3{
        width: 80%;
    }
    #car {
        width: 100%;
    }
    #footer {
        font-weight: 300;
        font-size: 16px;
        margin-top: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer-inside {
        width: 450px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #m_menu {
        width: 195px;
        height: 30px;
        display: flex;
        justify-content: space-between;
    }

    #m_menu .login {
        width: 75px;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        font-weight: 500;
        color: #fff;
    }

    #m_menu .surch {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    #m_menu .surch img {
        width: 100%;
    }

    /* menu */
    /* menu icon */
    #m_menu .m_list {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 25;
    }

    #m_menu .m_list>.ic {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    #m_menu .m_list>.ic>.line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        display: block;
        margin: 3px 0;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #m_icon.is-active>.line:nth-child(2) {
        opacity: 0;
    }

    #m_icon.is-active>.line:nth-child(1) {
        -webkit-transform: translateY(9px) rotate(45deg);
        -ms-transform: translateY(9px) rotate(45deg);
        -o-transform: translateY(9px) rotate(45deg);
        transform: translateY(9px) rotate(45deg);
    }

    #m_icon.is-active>.line:nth-child(3) {
        -webkit-transform: translateY(-9px) rotate(-45deg);
        -ms-transform: translateY(-9px) rotate(-45deg);
        -o-transform: translateY(-9px) rotate(-45deg);
        transform: translateY(-9px) rotate(-45deg);
    }

    /* menu list */

    nav {
        width: 0;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        background-color: #000;
        transition: 0.5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat', 'NotoSansKR';
    }

    .full_n {
        width: 100vw;
    }

    nav ul {
        width: 62.5%;
        height: auto;
        display: none;

    }

    nav ul li {
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

    }

    nav ul li:not(:last-child) {
        margin-bottom: 90px;
    }

    nav ul li .t {
        width: 100%;
        font-size: 45px;
        font-weight: bold;
        color: #fff;
        line-height: 60px;
        margin-bottom: 30px;
    }

    nav ul li .sub {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav ul li .sub li {
        height: auto;
        cursor: pointer;
        margin-bottom: 15px;

    }

    nav ul li .sub li a {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
    }

    nav ul li .sub li span {
        font-size: 20px;
        color: #999;
        margin-left: 15px;
    }

    nav ul li .sub li:not(:last-child) {
        margin-right: 45px;
    }
}


@media (min-width: 769px) and (max-width: 992px){
    #wrap {
        width: 100%;
    }
    .loading{
        width: 100%
    }
    .loading-text {
        width: 80%;
    }
    #backG1 {
        width:85%;
    }
    .headline{
        padding: 20px 20px 40px 80px;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .c_imgs1{
        width: 70%;
        background-color: black;
        color: white;
        margin: 3%;
        box-shadow: -15px -15px 0px 0px #7E49F2;
    }
    .content_left{
        display:none;
    }
    .content_right{
        width: 400px;
    }
    #table_1{
        font-size: 17px;
    }
    .c_imgs2{
        width: 80%;
        background-color: black;
        color: white;
        margin: 40px 0;
        box-shadow: -15px -15px 0px 0px #7E49F2;
    }
    #buttonBox{
        width: 30%;
    }
    .c_imgs2 > img{
        width: 100%;
    }
    .c_imgs2 > h5{
        font-size: 15px;
        font-family: 'Noto Sans KR', sans-serif;
        padding: 5px 15px;
    }
    .c_text > p {
        text-align: center;
        margin-bottom: 50px;
    }
    #table_2 {
        width: 85%;
        color: black;
        border-collapse:collapse;
        border-spacing:0;
        margin: 40px 0 120px 0;
    }
    #table_3{
        width: 45%;
    }
    #footer {
        width: 100%;
        height: 120px;
        font-weight: 300;
        font-size: 16px;
        margin-top: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer-inside {
        width: 600px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #m_menu {
        width: 195px;
        height: 30px;
        display: flex;
        justify-content: space-between;
    }

    #m_menu .login {
        width: 75px;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        font-weight: 500;
        color: #fff;
    }

    #m_menu .surch {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    #m_menu .surch img {
        width: 100%;
    }

    /* menu */
    /* menu icon */
    #m_menu .m_list {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 25;
    }

    #m_menu .m_list>.ic {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    #m_menu .m_list>.ic>.line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        display: block;
        margin: 3px 0;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #m_icon.is-active>.line:nth-child(2) {
        opacity: 0;
    }

    #m_icon.is-active>.line:nth-child(1) {
        -webkit-transform: translateY(9px) rotate(45deg);
        -ms-transform: translateY(9px) rotate(45deg);
        -o-transform: translateY(9px) rotate(45deg);
        transform: translateY(9px) rotate(45deg);
    }

    #m_icon.is-active>.line:nth-child(3) {
        -webkit-transform: translateY(-9px) rotate(-45deg);
        -ms-transform: translateY(-9px) rotate(-45deg);
        -o-transform: translateY(-9px) rotate(-45deg);
        transform: translateY(-9px) rotate(-45deg);
    }

    /* menu list */

    nav {
        width: 0;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        background-color: #000;
        transition: 0.5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat', 'NotoSansKR';
    }

    .full_n {
        width: 100vw;
    }

    nav ul {
        width: 62.5%;
        height: auto;
        display: none;

    }

    nav ul li {
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

    }

    nav ul li:not(:last-child) {
        margin-bottom: 90px;
    }

    nav ul li .t {
        width: 100%;
        font-size: 45px;
        font-weight: bold;
        color: #fff;
        line-height: 60px;
        margin-bottom: 30px;
    }

    nav ul li .sub {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav ul li .sub li {
        height: auto;
        cursor: pointer;
        margin-bottom: 15px;

    }

    nav ul li .sub li a {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
    }

    nav ul li .sub li span {
        font-size: 20px;
        color: #999;
        margin-left: 15px;
    }

    nav ul li .sub li:not(:last-child) {
        margin-right: 45px;
    }
}

@media (min-width: 993px) and (max-width: 1500px){
    #wrap {
        width: 100%;
    }
    .loading{
        width: 100%
    }
    .loading-text {
        width: 80%;
    }
    .content_left{
        display:none;
    }
    .headline{
        padding: 20px 20px 40px 150px;
    }
    .c_imgs2{
        width: 50%;
        background-color: black;
        color: white;
        margin: 40px 0;
        box-shadow: -15px -15px 0px 0px #7E49F2;
    }
    #buttonBox{
        width: 25%;
    }
    .c_imgs2 > img{
        width: 100%;
    }
    .c_imgs2 > h5{
        font-size: 15px;
        font-family: 'Noto Sans KR', sans-serif;
        padding: 5px 15px;
    }
    .c_text > p {
        text-align: center;
        margin-bottom: 50px;
    }
    #footer {
        width: 100%;
        height: 120px;
        font-weight: 300;
        font-size: 16px;
        margin-top: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer-inside {
        width: 600px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #m_menu {
        width: 195px;
        height: 30px;
        display: flex;
        justify-content: space-between;
    }

    #m_menu .login {
        width: 75px;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        font-weight: 500;
        color: #fff;
    }

    #m_menu .surch {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    #m_menu .surch img {
        width: 100%;
    }

    /* menu */
    /* menu icon */
    #m_menu .m_list {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 25;
    }

    #m_menu .m_list>.ic {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    #m_menu .m_list>.ic>.line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        display: block;
        margin: 3px 0;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #m_icon.is-active>.line:nth-child(2) {
        opacity: 0;
    }

    #m_icon.is-active>.line:nth-child(1) {
        -webkit-transform: translateY(9px) rotate(45deg);
        -ms-transform: translateY(9px) rotate(45deg);
        -o-transform: translateY(9px) rotate(45deg);
        transform: translateY(9px) rotate(45deg);
    }

    #m_icon.is-active>.line:nth-child(3) {
        -webkit-transform: translateY(-9px) rotate(-45deg);
        -ms-transform: translateY(-9px) rotate(-45deg);
        -o-transform: translateY(-9px) rotate(-45deg);
        transform: translateY(-9px) rotate(-45deg);
    }

    /* menu list */

    nav {
        width: 0;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        background-color: #000;
        transition: 0.5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat', 'NotoSansKR';
    }

    .full_n {
        width: 100vw;
    }

    nav ul {
        width: 62.5%;
        height: auto;
        display: none;

    }

    nav ul li {
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

    }

    nav ul li:not(:last-child) {
        margin-bottom: 90px;
    }

    nav ul li .t {
        width: 100%;
        font-size: 45px;
        font-weight: bold;
        color: #fff;
        line-height: 60px;
        margin-bottom: 30px;
    }

    nav ul li .sub {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav ul li .sub li {
        height: auto;
        cursor: pointer;
        margin-bottom: 15px;

    }

    nav ul li .sub li a {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
    }

    nav ul li .sub li span {
        font-size: 20px;
        color: #999;
        margin-left: 15px;
    }

    nav ul li .sub li:not(:last-child) {
        margin-right: 45px;
    }
}

@media (min-width: 1501px){
    #footer {
        width: 100%;
        height: 120px;
        font-weight: 300;
        font-size: 16px;
        margin-top: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer-inside {
        width: 600px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #m_menu {
        width: 195px;
        height: 30px;
        display: flex;
        justify-content: space-between;
    }

    #m_menu .login {
        width: 75px;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        font-weight: 500;
        color: #fff;
    }

    #m_menu .surch {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    #m_menu .surch img {
        width: 100%;
    }

    /* menu */
    /* menu icon */
    #m_menu .m_list {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 25;
    }

    #m_menu .m_list>.ic {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    #m_menu .m_list>.ic>.line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        display: block;
        margin: 3px 0;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #m_icon.is-active>.line:nth-child(2) {
        opacity: 0;
    }

    #m_icon.is-active>.line:nth-child(1) {
        -webkit-transform: translateY(9px) rotate(45deg);
        -ms-transform: translateY(9px) rotate(45deg);
        -o-transform: translateY(9px) rotate(45deg);
        transform: translateY(9px) rotate(45deg);
    }

    #m_icon.is-active>.line:nth-child(3) {
        -webkit-transform: translateY(-9px) rotate(-45deg);
        -ms-transform: translateY(-9px) rotate(-45deg);
        -o-transform: translateY(-9px) rotate(-45deg);
        transform: translateY(-9px) rotate(-45deg);
    }

    /* menu list */

    nav {
        width: 0;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        background-color: #000;
        transition: 0.5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat', 'NotoSansKR';
    }

    .full_n {
        width: 100vw;
    }

    nav ul {
        width: 1200px;
        height: 360px;
        display: none;
    }

    nav ul li {
        height: 60px;
        ;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav ul li:not(:last-child) {
        margin-bottom: 90px;
    }

    nav ul li .t {
        width: 350px;
        font-size: 45px;
        font-weight: bold;
        color: #fff;
    }

    nav ul li .sub {
        width: 850px;
        height: 30px;
        display: flex;
        justify-content: center;
        justify-content: flex-start;
        flex-direction: row;
    }

    nav ul li .sub li {
        height: 30px;
        font-size: 24px;
        margin-bottom: 0;
        cursor: pointer;
        font-weight: 500;
    }

    nav ul li .sub li a {
        color: #fff;
    }

    nav ul li .sub li span {
        font-size: 20px;
        color: #999;
        margin-left: 15px;
    }

    nav ul li .sub li:not(:last-child) {
        margin-right: 45px;
    }
}
